In [34]:
import pandas as pd
import numpy as np

In [35]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com'],
    "age": ['33', '55', '63']
}

In [36]:
df = pd.DataFrame(people)

In [37]:
df

   first     last                    email      age
0  Corey  Schafer  CoreyMSchafer@gmail.com       33
1   Jane      Doe        JaneDoe@email.com       55
2   John      Doe        JohnDoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      anonymous@email.com     None
6     NA  Missing                       NA  Missing

In [38]:
#filt = (df['last'] == 'Schafer') | (df['first'] == 'John') 
# | is 'or', & is 'and'

In [39]:
#df.loc[~filt, 'email'] #~ gets opposite

In [40]:
email_filter = (df['email'] == 'JohnDoe@email.com')
df.loc[email_filter, 'last'] = 'Smith'

In [41]:
df['email'] = df['email'].str.lower()

In [42]:
df

   first     last                    email      age
0  Corey  Schafer  coreymschafer@gmail.com       33
1   Jane      Doe        janedoe@email.com       55
2   John    Smith        johndoe@email.com       63
3  Chris  Schafer                     None       36
4    NaN      NaN                      NaN     None
5   None      NaN      anonymous@email.com     None
6     NA  Missing                       na  Missing

In [43]:
df['email'].apply(len)

TypeError: object of type 'NoneType' has no len()

In [ ]:
def update_email(email):
    return email.lower()

In [ ]:
df['email'].apply(update_email)

In [ ]:
df.apply(lambda x: min(x))

In [ ]:
df.applymap(str.lower)

In [ ]:
#df['full_name'] = df['first'] + ' ' + df['last']

In [ ]:
df

In [ ]:
people = {
    "first": ["Tony", 'Steve'], 
    "last": ["Stark", 'Rogers'], 
    "email": ["IronMan@avengers.com", 'Cap@avengers.com']
}
df2 = pd.DataFrame(people)

In [ ]:
df2

In [ ]:
df = df.append(df2, ignore_index=True)

In [ ]:
df.sort_values(by=['last', 'first'], inplace=True)

In [ ]:
df